RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php/ [QSA,L]
RewriteRule ^(src) - [R=403,L]

<FilesMatch "(.env|.gitignore|vendor|composer.json|composer.lock|README.md)">
  Order allow,deny
  Deny from all
</FilesMatch>

ErrorDocument 404 /howlingabyss/View/errors/404.php
